.env
.venv/
*.service
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
instance/
*.db
*.sqlite3
*.sqlite
.webassets-cache
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
dist/
build/
*.egg-info/
.eggs/
.envrc
.vscode/
.flaskenv
.env.local
.python-version
.DS_Store
.idea/
.mypy_cache/
.cache/